.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.one {
  background-color: red;
  /* border-right: 7px solid black; */
}
.two {
  border-left: 7px solid black;
}
.one,
.two {
  height: 250px;
  border-bottom: 10px solid black;
}

.three {
  height: 110px;
  /* border-right: 7px solid black; */
}
.four {
  border-left: 7px solid black;
}

.three,
.four {
  border-bottom: 10px solid black;
}

.five {
  background-color: yellow;
  width: 50px;
  height: 200px;
  border-right: 7px solid black;
}
.six {
  background-color: blue;
  border-left: 7px solid black;
  border-right: 7px solid black;
  border-bottom: 7px solid black;
  width: 175px;
  height: 175px;
}
